./data/raw_data/abs/*
./data/raw_data/ft/*
./data/hit_id*
cached*
*.swp
.nfs*
*ipynb_checkpoints/
*/__pycache__/*
__pycache__
data/abs_data/
data/ft_data/
data/litcovid/
data/pmc/
data/raw_data/abs/
data/raw_data/ft/
data/test_data/
models/
tools/geniass/
data/ft_gda/
*.swo
dist/
build/
MANIFEST
